.collect:before {
    display: none;
}

.collect {
    bottom: 0px;
    left: auto;
    right: 0;
}

.collect:after {
    width: 30px;
    height: 41px;
    display: inline-block;
    background: url('down.svg') center/contain no-repeat;
    content: " ";
    margin-left: 10px;
    transition: opacity 500ms;
    transform: rotate(-90deg);
    vertical-align: -12px;
}

@media (max-width: 720px) {
    .collect:after {
        transform: none;
    }
}

.collect.active:after {
    background: url('tick.svg') center/contain no-repeat;
    transform: rotate(0deg);
}

.collect.active.hidden:after {
    opacity: 0;
}