@import url('./tokens.css');
@import url('./fonts.css');

body {
  width: 100vw;
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-direction: column;
  aspect-ratio: 9/16;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: FaktPro, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

main {
  margin-inline: calc(var(--label-horizontal-margin) * var(--width-ratio));
  margin-block: calc(var(--label-vertical-margin) * var(--width-ratio));
  height: 100%;
  display: grid;
  container-type: size;
  grid-template-areas: 'timer timer' 'content content' 'bottom bottom';
  grid-template-rows: calc(var(--title-block-top-margin) * var(--width-ratio)) auto max-content;
  grid-template-columns: 1fr calc(var(--next-start-time-width) * var(--width-ratio));
}

.timer-block {
  grid-row: timer / timer;
  grid-column: timer / timer;
  place-self: start end;
  width: var(--d);
  display: grid;
  height: max-content;
  grid-template-areas: 'ring' 'subtitle';
  grid-template-rows: calc(var(--timer-diameter) * var(--width-ratio)) auto;
  grid-template-columns: var(--d);
  gap: calc(var(--timer-bottom-gap) * var(--width-ratio));
}

svg {
  grid-row: ring / ring;
  grid-column: ring / ring;
  width: calc(var(--timer-diameter) * var(--width-ratio));
  margin-inline: auto;
  height: 100%;
  display: block;
}

.content-area {
  grid-row: content / content;
  grid-column: content / content;
  overflow: hidden;
  max-height: max-content;
  height: auto;
}

.bottom-area {
  grid-row: bottom / bottom;
  grid-column: bottom / bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: self-end;
  width: 100%;
  height: 100%;
}

acmi-interactive-icon {
  display: contents;
  color: var(--text-color);

  svg {
    grid-row: timer / timer;
    grid-column: timer / timer;
    place-self: start end;
    margin-block: 0;
    margin-inline: 0;
    width: calc(var(--next-start-time-width) * var(--width-ratio) * 1);
  }
}

.qr-block {
  display: grid;
  grid-template: 'qr icons' 1fr 'qr langs' 1fr / calc(var(--qr-code-width) * var(--width-ratio)) auto;
  height: calc(var(--qr-code-width) * var(--width-ratio));
  column-gap: calc(var(--qr-code-description-gap) * var(--width-ratio));
  font-size: calc(var(--qr-text-size) * var(--width-ratio));
  line-height: var(--next-start-time-line-height);
}

.qr-block .info,
.qr-block .icons {
  display: flex;
  grid-row: icons / icons;
  grid-column: icons / icons;
  flex-flow: row nowrap;
  place-items: center start;
  align-self: self-end;
  gap: calc(var(--icons-gap) * var(--width-ratio));
  height: min-content;

  svg {
    width: calc((var(--qr-code-width) * var(--width-ratio)) / 2.3);
    margin-block: 0;
    margin-inline: 0;
  }
}

acmi-reverb-timer {
  --d: calc(var(--next-start-time-width) * var(--width-ratio));

  display: contents;

  & circle {
    cx: 50px;
    cy: 50px;
    r: calc(50 - (var(--ring-value) / 2));
    stroke-width: var(--ring-value);
  }
}

.countdown {
  grid-row: ring / ring;
  grid-column: ring / ring;
  place-self: center center;
  font-family: 'Söhne Mono', monospace, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(var(--timer-text-size) * var(--width-ratio));
  line-height: var(--timer-line-height);
}

.next-start-time {
  grid-row: subtitle / subtitle;
  grid-column: subtitle / subtitle;
  justify-self: center;
  font-family: 'Söhne Mono', monospace, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: calc(var(--next-start-time-text-size) * var(--width-ratio));
  line-height: var(--next-start-time-line-height);
}

.title-block * {
  margin-block: 0;
}

.title,
.author {
  font-family: 'Söhne Mono', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(var(--title-block-text-size) * var(--width-ratio));
  line-height: var(--title-block-line-height);
}

.title {
  text-transform: uppercase;
}

.author {
  text-transform: capitalize;
}

p {
  margin-block-start: 0;
}

.content-warning {
  font-size: calc(var(--body-text-size) * var(--width-ratio));
  line-height: var(--body-line-height);
  margin-block-end: calc(var(--title-block-bottom-gap) * var(--width-ratio));
}

.body-copy {
  font-size: calc(var(--body-text-size) * var(--width-ratio));
  line-height: var(--body-line-height);
  margin-block-start: calc(var(--title-block-bottom-gap) * var(--width-ratio));
}

.body-copy p {
  margin-block: 0 calc(var(--body-paragraph-bottom-margin) * var(--width-ratio));
  text-wrap: pretty;
}

.tombstone-block * {
  margin-block: 0;
}

.qr-block,
.tombstone-block {
  font-family: 'Söhne Mono', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans SC',
    'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: 400;
  font-size: calc(var(--tombstone-text-size) * var(--width-ratio));
  line-height: var(--tombstone-line-height);
  grid-column: 1 / 3;
}

.qr-desc {
  font-family: 'Söhne Mono', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans SC',
    'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: 400;
  font-size: calc(var(--qr-text-size) * var(--width-ratio));
  line-height: 1;
  margin-inline-start: calc(1rem * var(--width-ratio));
}

.segno {
  --figure: var(--text-color);
  --ground: var(--background-color);

  width: 100%;
  height: auto;
  flex-shrink: 0;
  grid-row: qr / qr;
  grid-column: qr / qr;
}

.langs {
  grid-row: langs / langs;
  grid-column: langs / langs;
  align-self: center;

  span {
    padding-inline: calc(var(--langs-padding-inline) * var(--width-ratio));
    padding-block: calc(var(--langs-padding-block) * var(--width-ratio));
  }
}

acmi-digital-label,
acmi-mqtt-sync {
  display: contents;
}

acmi-listening-room-bottom {
  display: flex;
  font-size: calc(var(--width-ratio) * var(--body-text-size));
  flex-flow: row nowrap;
  align-items: center;
  padding-block: calc(var(--title-block-bottom-gap) * var(--width-ratio) * 0.5);
  border-block: calc(8px * var(--width-ratio)) var(--fade-color) dotted;
  gap: calc(3rem * var(--width-ratio));
  margin-block-start: calc(var(--tombstone-qr-gap) * var(--width-ratio));

  & .lr-qr-svg {
    
    & svg {
      display: block;
      height: 100%;
      inline-size: calc(var(--body-text-size) * var(--width-ratio) * 2 * var(--body-line-height));
    }
  }

  & .ticket-icon {
    height: calc(var(--body-text-size) * var(--width-ratio) * 2 * var(--body-line-height));
    aspect-ratio: 1/1;
  }
}

acmi-listening-room-top {
  /* display: flex; */
  grid-column: 1 / span 2;
  /* width: 100%; */
  /* height: 100%; */
  
}

acmi-digital-label .lr-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  box-sizing: border-box;
  width: 100%;
  height: 100%;


  h2 {
    font-size: calc(var(--width-ratio) * var(--body-text-size));
    text-align: justify;
    text-align-last: justify;
    width: 100%;
    font-family: 'Söhne Mono', monospace, Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: calc(3rem * var(--width-ratio)) calc(5rem * var(--width-ratio));
    color: var(--text-color);
    background-color: var(--lr-title-bg-color);
    box-sizing: border-box;
    margin-block: calc(2rem * var(--width-ratio));
  }

  .lr-top-doors, .lr-top-recording {
    text-align: left;
    font-family: 'Söhne Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: calc(var(--width-ratio) * var(--tombstone-text-size) * 1.1)
    
  }
}