<!doctype html>
<html>
  <head>
      <title>Playlist: {{ playlist_json.title }}</title>
      <link rel="stylesheet" type="text/css" href="/static/playlist.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
      <div>
          <div>
              {% for item in playlist_json.playlist_labels %}
                  {% if loop.index == 1 %}
                      <div class="title_cont">
                          <div id='title' class='title'>{{ item.label.title }}</div>
                          <div id='subtitles' class='subtitles'>{{ item.label.subtitles }}</div>
                      </div>
                      <div class="content">
                          <div id='content0' class="{{ 'content_smaller' if item.label.columns[0].style == 'smaller' else 'standard' }}">
                            {{ item.label.columns[0].content|safe }}
                          </div>
                          <div id='content1' class="{{ 'content_smaller' if item.label.columns[1].style == 'smaller' else 'standard' }}">
                            {{ item.label.columns[1].content|safe }}
                          </div>
                          <div id='content2' class="{{ 'content_smaller' if item.label.columns[2].style == 'smaller' else 'standard' }}">
                            {{ item.label.columns[2].content|safe }}
                          </div>
                      </div>
                  {% endif %}
                  <div class='next'>
                      <div class="progress-bar-container">
                          <div id="progress-bar" class="progress-bar"></div>
                      </div>
                      {% if loop.index == 2 %}
                          <div>Next</div>
                          <div id='next_title'>{{ item.label.title }}</div>
                          <div id='next_subtitles'>{{ item.label.subtitles }}</div>
                      {% endif %}
                  </div>
              {% endfor %}
              {% if not playlist_json %}
              <div class="">
                  <div class="">
                      <div>Playlist not found 😭</div>
                      <div>Sorry, there isn't a playist for that id.</div>
                  </div>
              </div>
              {% endif %}
          </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
      <script src="/static/playlist.js" type="module"></script>
  </body>

  <script>
      window.playlistLabelData = {
          "id": "{{ playlist_json.id }}",
          "current_label_id": "{% if playlist_json.playlist_labels|length > 0 %}{{ playlist_json.playlist_labels.0.label.id }}{% endif %}",
          "next_label_id": "{% if playlist_json.playlist_labels|length > 1 %}{{ playlist_json.playlist_labels.1.label.id }}{% elif playlist_json.playlist_labels|length > 0 %}{{ playlist_json.playlist_labels.0.label.id }}{% endif %}",
          "mqtt_host": "{{ mqtt.host }}",
          "mqtt_port": "{{ mqtt.port }}",
          "mqtt_username": "{{ mqtt.username }}",
          "mqtt_password": "{{ mqtt.password }}",
          "xos_playlist_endpoint": "{{ xos.playlist_endpoint }}",
          "xos_media_player_id": "{{ xos.media_player_id }}"
      }
  </script>
</html>
