<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{ playlist_json.title }}</title>
    <link rel="stylesheet" href="/static/digital-label.css" />
  </head>
  <body>
    <acmi-digital-label
      data-id="{{ playlist_json.id }}"
      data-label-id="{% if playlist_json.playlist_labels|length > 0 %}{{ playlist_json.playlist_labels.0.label.id }}{% endif %}"
      data-mqtt-host="{{mqtt.host}}"
      data-mqtt-port="{{mqtt.port}}"
      data-mqtt-username="{{mqtt.username}}"
      data-mqtt-password="{{mqtt.password}}"
      data-xos-endpoint="{{xos.playlist_endpoint}}"
      data-xos-media-player="{{mqtt.media_player_id}}"
      {%
      if
      ignore_media_player
      %}data-ignore-media-player{%
      endif
      %}
    >
      <main>
        <acmi-reverb-timer>
          <div class="timer">
            <svg viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                pathLength="50"
                fill="none"
                stroke="var(--fade-color,grey)"
                class="background"
              />
              <circle
                cx="50"
                cy="50"
                style="stroke-dasharray: var(--disk-ratio, 30 70); stroke-dashoffset: 25;"
                pathLength="100"
                class="foreground"
                stroke="var(--text-color,white)"
                fill="none"
              />
            </svg>
            <pre class="ticker">00&#58;00</pre>
            <p class="subtitle">Duration</p>
          </div>
        </acmi-reverb-timer>

        <section class="header-block">
          <h1 class="title">{{ playlist_json.title }}</h1>
          <p class="author">
            {{ playlist_json.playlist_labels[0].label.work.creator_credit
            }},&nbsp;{{playlist_json.playlist_labels[0].label.work.headline_credit}}
          </p>
        </section>
        <section class="content">
          {{ playlist_json.playlist_labels[0].label.columns[0].content|safe }}
        </section>
        <section class="credit-line">
          {{ playlist_json.playlist_labels[0].label.work.credit_line|safe }}
        </section>
      </main>
    </acmi-digital-label>
    <script src="/static/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script type="module">
      const json = {{ playlist_json_rendered|safe }};
      document.querySelector('acmi-digital-label').setAttribute('data-label-json',JSON.stringify(json))
      import('/static/digital-label.js')
    </script>
  </body>
</html>
