<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{ playlist_json.title }}</title>
    <link rel="stylesheet" href="/static/digital-label.css" />
  </head>
  <body>
    <acmi-mqtt-sync
      {%- if xos.media_player_id %} data-xos-media-player="{{ xos.media_player_id }}"{% endif %}
      {%- if override_duration %} data-override-duration="{{ override_duration }}"{% endif %}
      {%- if ignore_media_player %} data-ignore-media-player{% endif %}
    >
      <acmi-digital-label
        {%- if override_title %} data-override-title="{{ override_title }}"{% endif %}
        data-label-mode="{{label_mode}}"
      >
        {% include 'reverb/label-content.html' %}
      </acmi-digital-label>
    </acmi-mqtt-sync>
    <script src="/static/temporal.js"></script>
    <script type="module">
      const json = {{ playlist_json_rendered|safe }};
      document.querySelector("acmi-digital-label").setAttribute("data-label-json", JSON.stringify(json));
      import("/static/mqtt-sync.js");
      import("/static/digital-label.js");
      import("/static/qr-block.js");
      {% if label_mode != 'normal' %}import("/static/interactive-icon.js");{% endif %}
    </script>

  </body>
</html>
