{% extends "_base.html" %}

{% block title %}Up Next Playlist: {{ playlist_json.title }}{% endblock %}
{% block stylesheet %}/static/up_next.style.css{% endblock %}
{% block bodyclass %}up_next{% endblock %}

{% block body %}
  <div>
    <div>
      {% if (not playlist_json) or (playlist_json.playlist_labels|length == 0) %}
        <div class='title_cont'>
          <div id='title' class='title'>Playlist has no labels 😭</div>
          <div id='subtitles' class='subtitles'>Sorry, there aren't any labels in this XOS Playlist.</div>
        </div>
        <div class='content'>
          <div id='content0' class="standard">
          </div>
        </div>
      {% else %}
        <div class='title_cont'>
          <div id="left_heading">

            <div id='title' class='title'>{{ playlist_json.playlist_labels[0].label.title|safe }}</div>
            <div id='subtitles' class='subtitles'>{{ playlist_json.playlist_labels[0].label.subtitles|safe }}</div>
          </div>
          <div id="left_description">
            <div id='content0' class="description {{ 'content_smaller' if playlist_json.playlist_labels[0].label.columns[0].style == 'smaller' else 'standard' }}">
              {{ playlist_json.playlist_labels[0].label.columns[0].content|safe }}
            </div>
            <div id='content1' class="description {{ 'content_smaller' if playlist_json.playlist_labels[0].label.columns[1].style == 'smaller' else 'standard' }}">
              {{ playlist_json.playlist_labels[0].label.columns[1].content|safe }}
            </div>
            <div id='content2' class="description {{ 'content_smaller' if playlist_json.playlist_labels[0].label.columns[2].style == 'smaller' else 'standard' }}">
              {{ playlist_json.playlist_labels[0].label.columns[2].content|safe }}
            </div>

            <div id='about_title' class='about_title'>{{ playlist_json.introduction_title | safe }}</div>
            <div id='about' class='about'>{{ playlist_json.introduction_content | safe }}</div>
          </div>
        </div>
        <div class='content'>
          <div id='indigenous' class="indigenous{{ ' indigenous_active' if playlist_json.playlist_labels[0].label.work.is_context_indigenous else '' }}">
            <img src='/static/indigenous.png'/>
            <!-- <div>This work contains</div>
            <div class='indigenous_bold'>FIRST PEOPLES CONTENT</div> -->
          </div>

          <div class="up_next_heading" id="up_next_heading">Up next</div>
          <div class='up_next_works'>
            {% for item in playlist_json.playlist_labels[1:] %}
              <div class='up_next_work' id='up_next_label_{{ loop.index }}'>
                <div class='title'>{{ loop.index }}. {{ item.label.title|safe }}</div>
                <div class='subtitles'>{{ item.label.subtitles|safe }}</div>
                <div class='starts_in'>Starts in <span class="time_to_wait">x minutes</span></div>
              </div>
            {% endfor %}
          </div>
          <div class='collect' id='collect'>
            COLLECT
          </div>
        </div>
        {% if playlist_json.playlist_labels|length > 1 %}
          <div class='next'>
            <div class='progress-bar-container'>
              <div id='progress-bar' class='progress-bar'></div>
            </div>
            <div class='next_left'>
              NEXT
            </div>
            <div class='next_right'>
              <div id='next_title'>{{ playlist_json.playlist_labels[1].label.title|safe }}</div>
            </div>
          </div>
        {% else %}
          <div class='progress-bar-container full-width-progress'>
            <div id='progress-bar' class='progress-bar'></div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock body %}